.calendar {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 10px;
}

.weekday {
  padding: 5px;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-gap: 5px; */
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid grey;
  background-color: #f0f0f0;
  cursor: pointer;
}

.empty {
  background-color: transparent;
  cursor: default;
}

.curr {
  background-color: rgb(255, 236, 179);
}

.button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
