/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
ul {
  padding: 0;
}

li {
  list-style: none;
}

.searchbar {
  position: relative;
}

.suggestion-dropdown {
  z-index: 999;
  padding: 0;
  position: absolute;
  top: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.suggestion-item {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.suggestion-item:hover {
  outline: 1px solid rgba(64, 150, 255);
}